In [20]:
import os
import pandas as pd
from fuzzywuzzy import fuzz
import regex as re

In [2]:
path = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/scoring/IN02MS10062024_SNORE_recall_in_person_2024-06-10_15h28.19.095.csv"
df = pd.read_csv(path)
df.head()

,Word1,WORD_length1,Emo_condition,length_group_emo,Word2,WORD_length2,Ima_condition,length_group_ima,recall_loop.thisRepN,recall_loop.thisTrialN,...,accept.corr,accept.rt,accept.duration,end_text.started,participant,date,expName,psychopyVersion,frameRate,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,IN02MS10062024,2024-06-10_15h28.19.095,SNORE_recall_in_person,2023.1.3,60.032045,NaN
1,Diebstahl,9.0,NaN,long_word,Misserfolg,10.0,NaN,long_word,0.0,0.0,...,0.0,[20.29579890007153],[None],NaN,IN02MS10062024,2024-06-10_15h28.19.095,SNORE_recall_in_person,2023.1.3,60.032045,NaN
2,Gewalt,6.0,NaN,short_word,Krieg,5.0,NaN,short_word,0.0,1.0,...,0.0,[4.7708357000374235],[None],NaN,IN02MS10062024,2024-06-10_15h28.19.095,SNORE_recall_in_person,2023.1.3,60.032045,NaN
3,Kompott,7.0,NaN,long_word,Vorschlag,9.0,NaN,long_word,0.0,2.0,...,0.0,[7.387580200098455],[None],NaN,IN02MS10062024,2024-06-10_15h28.19.095,SNORE_recall_in_person,2023.1.3,60.032045,NaN
4,Raubtier,8.0,emo_mid,long_word,Wildkatze,9.0,ima_high,long_word,0.0,3.0,...,0.0,[3.6114011000609025],[None],NaN,IN02MS10062024,2024-06-10_15h28.19.095,SNORE_recall_in_person,2023.1.3,60.032045,NaN

In [23]:
def replace_return(string):
    clean_string = re.sub(r"\n", "", string)
    return clean_string

'Walnuss'

In [32]:
df_short = df[["Word2", "Response.text"]]
# Ensure all values are treated as strings, replacing NaNs with empty strings
df_short["Word2"] = df_short["Word2"].astype(str).fillna("")
df_short = df_short[df_short["Word2"] != "nan"]
df_short["Response.text"] = df_short["Response.text"].astype(str).fillna("")
df_short["Response.text"] = df_short["Response.text"].apply(replace_return)
df_short.head(50)

/var/folders/jz/fzhqjtjs2qs1vdhm2p0k6mpm0000gn/T/ipykernel_2888/118893224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short["Word2"] = df_short["Word2"].astype(str).fillna("")

         Word2 Response.text
1   Misserfolg    Misserfolg
2        Krieg         Krieg
3    Vorschlag     Vorschlag
4    Wildkatze     Wildkatze
5         Ente          Ente
6      Spargel       Spargel
7      Walnuss       Walnuss
8        Otter         Otter
9    Stinktier     Stinktier
10    Seepferd
11       Ratte         Ratte
12       Motte         Motte
13       KrÃ¤he         KrÃ¤he
14       Amsel         Amsel
15     Seeigel
16       Bulle         Bulle
17       Buche         Buche
18  Fledermaus           nan
19       Tiger         Tiger
20     Karpfen
21        Bock          Bock
22        Pfau          Pfau
23      Vampir        Vampir
24    Schlange      Schlange
25        Gras          Gras
26    WeiÃŸkohl      WeiÃŸkohl
27          Ei            Ei
28     Rebhuhn
29   Brombeere     Brombeere
30   Thunfisch     Thunfisch
31       Fisch         Fisch
32    Faultier      Faultier
33    Blutegel      Blutegel
34   Rosenkohl     Rosenkohl
35       Larve         Larve
36    Getreide      Getreide
37      Frucht        Frucht
38      Hengst           nan
39    Sellerie      Sellerie
40       Wache         Wache
41      Verlag        Verlag
42    Rechnung

In [33]:
df_short["distance"] = df_short.apply(lambda row: fuzz.ratio(row["Response.text"], row["Word2"]), axis=1)
df_short.head(50)

         Word2 Response.text  distance
1   Misserfolg    Misserfolg       100
2        Krieg         Krieg       100
3    Vorschlag     Vorschlag       100
4    Wildkatze     Wildkatze       100
5         Ente          Ente       100
6      Spargel       Spargel       100
7      Walnuss       Walnuss       100
8        Otter         Otter       100
9    Stinktier     Stinktier       100
10    Seepferd                       0
11       Ratte         Ratte       100
12       Motte         Motte       100
13       KrÃ¤he         KrÃ¤he       100
14       Amsel         Amsel       100
15     Seeigel                       0
16       Bulle         Bulle       100
17       Buche         Buche       100
18  Fledermaus           nan        15
19       Tiger         Tiger       100
20     Karpfen                       0
21        Bock          Bock       100
22        Pfau          Pfau       100
23      Vampir        Vampir       100
24    Schlange      Schlange       100
25        Gras          Gras       100
26    WeiÃŸkohl      WeiÃŸkohl       100
27          Ei            Ei       100
28     Rebhuhn                       0
29   Brombeere     Brombeere       100
30   Thunfisch     Thunfisch       100
31       Fisch         Fisch       100
32    Faultier      Faultier       100
33    Blutegel      Blutegel       100
34   Rosenkohl     Rosenkohl       100
35       Larve         Larve       100
36    Getreide      Getreide       100
37      Frucht        Frucht       100
38      Hengst           nan        22
39    Sellerie      Sellerie       100
40       Wache         Wache       100
41      Verlag        Verlag       100
42    Rechnung                       0

In [22]:
test = "\nWalnuss"
re_test = re.sub(r"\n", "", test)

re_test

'Walnuss'