In [44]:
import os
import pandas as pd
import random
#import matplotlib.pyplot as plt

In [45]:
path2 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/WordList/EmoIma/ESM1_categorised.csv"
path1 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/lists/Emo_categorised.csv"
path0 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/lists/nature/new_nature_words_final.xlsx"
Emo = pd.read_csv(path1, sep=",")
nature_final = pd.read_excel(path0, sheet_name="Sheet1")
#Emo.head(50)

In [46]:
nature_final

,Word1,Category Word1,WORD_length1,Emo_condition,length_group_emo,Word2,Category Word2,WORD_length2,Ima_condition,length_group_ima,Randomize,Combination
0,Biene,NaN,5,emo_mid,short_word,Dorsch,NaN,6,ima_high,short_word,False,Primacy
1,Buche,NaN,5,emo_mid,short_word,Zobel,NaN,5,ima_high,short_word,False,Primacy
2,Flieder,NaN,7,emo_mid,short_word,Kardinal,NaN,8,ima_high,short_word,False,Primacy
3,Donner,other,6,emo_mid,short_word,Moos,plant,4,ima_high,short_word,True,Other / Plant
4,Ebbe,other,4,emo_mid,short_word,Lilie,plant,5,ima_high,short_word,True,Other / Plant
5,Fels,other,4,emo_mid,short_word,Farn,plant,4,ima_high,short_word,True,Other / Plant
6,Feuer,other,5,emo_mid,short_word,Roggen,plant,6,ima_high,short_word,True,Other / Plant
7,Flamme,other,6,emo_mid,short_word,Bambus,plant,6,ima_high,short_word,True,Other / Plant
8,Fuchs,animal,5,emo_mid,short_word,Blitz,other,5,ima_high,short_word,True,Animal / Other
9,Spinne,animal,6,emo_mid,short_word,Bach,other,4,ima_high,short_word,True,Animal / Other
10,Vieh,animal,4,emo_mid,short_word,Fels,other,4,ima_high,short_word,True,Animal / Other
11,Elster,animal,6,emo_mid,short_word,Flut,other,4,ima_high,short_word,True,Animal / Other
12,Geier,animal,5,emo_mid,short_word,Hagel,other,5,ima_high,short_word,True,Animal / Other
13,Busch,plant,5,emo_mid,short_word,Wespe,animal,5,ima_high,short_word,True,Plant / Animal
14,Kraut,plant,5,emo_mid,short_word,Bulle,animal,5,ima_high,short_word,True,Plant / Animal
15,Kresse,plant,6,emo_mid,short_word,Otter,animal,5,ima_high,short_word,True,Plant / Animal
16,Hanf,plant,4,emo_mid,short_word,Spatz,animal,5,ima_high,short_word,True,Plant / Animal
17,Linse,plant,5,emo_mid,short_word,Auster,animal,6,ima_high,short_word,True,Plant / Animal
18,Geröll,other,6,emo_mid,short_word,Meer,other,4,ima_high,short_word,True,other/ other
19,Granit,other,6,emo_mid,short_word,Perle,other,5,ima_high,short_word,True,other/ other
20,Stroh,other,5,emo_mid,short_word,Schnee,other,6,ima_high,short_word,True,other/ other
21,Regen,other,5,emo_mid,short_word,Sonne,other,5,ima_high,short_word,True,other/ other
22,Nebel,other,5,emo_mid,short_word,Wolke,other,5,ima_high,short_word,True,other/ other
23,Element,other,7,emo_mid,long_word,Apfelbaum,plant,9,ima_high,long_word,True,Other / Plant
24,Dämmerung,other,9,emo_mid,long_word,Blumenkohl,plant,10,ima_high,long_word,True,Other / Plant
25,Dunkelheit,other,10,emo_mid,long_word,Radieschen,plant,10,ima_high,long_word,True,Other / Plant
26,Gewitter,other,8,emo_mid,long_word,Karotte,plant,7,ima_high,long_word,True,Other / Plant
27,Schatten,other,8,emo_mid,long_word,Spargel,plant,7,ima_high,long_word,True,Other / Plant
28,Eidechse,animal,8,emo_mid,long_word,Diamant,other,7,ima_high,long_word,True,Animal / Other
29,Leopard,animal,7,emo_mid,long_word,Edelstein,other,9,ima_high,long_word,True,Animal / Other
30,Maulwurf,animal,8,emo_mid,long_word,Erdbeben,other,8,ima_high,long_word,True,Animal / Other
31,Seeigel,animal,7,emo_mid,long_word,Koralle,other,7,ima_high,long_word,True,Animal / Other
32,Ziegenbock,animal,10,emo_mid,long_word,Kristall,other,8,ima_high,long_word,True,Animal / Other
33,Kornblume,plant,9,emo_mid,long_word,Tarantel,animal,8,ima_high,long_word,True,Plant / Animal
34,Veilchen,plant,8,emo_mid,long_word,Hamster,animal,7,ima_high,long_word,True,Plant / Animal
35,Kamille,plant,7,emo_mid,long_word,Seehund,animal,7,ima_high,long_word,True,Plant / Animal
36,Lorbeer,plant,7,emo_mid,long_word,Gazelle,animal,7,ima_high,long_word,True,Plant / Animal
37,Paprika,plant,7,emo_mid,long_word,Languste,animal,8,ima_high,long_word,True,Plant / Animal
38,Schlamm,other,7,emo_mid,long_word,Nordsee,other,7,ima_high,long_word,True,Other / Other
39,Schotter,other,8,emo_mid,long_word,Schleier,other,8,ima_high,long_word,True,Other / Other
40,Sprühregen,other,10,emo_mid,long_word,Brennholz,other,9,ima_high,long_word,True,Other / Other
41,Zwielicht,other,9,emo_mid,long_word,Seegang,other,7,ima_high,long_word,True,Other / Other
42,Strudel,other,7,emo_mid,long_word,Schweif,other,7,ima_high,long_word,True,Other / Other
43,Hornisse,NaN,8,emo_mid,long_word,Pudel,NaN,5,ima_high,long_word,False,Recency
44,Bär,NaN,3,emo_mid,long_word,Wanze,NaN,5,ima_high,long_word,False,Recency
45,Pinie,NaN,5,emo_mid,long_word,Sardine,NaN,7,ima_high,long_word,False,Recency

In [47]:
Emo

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_MEAN,EM_O_MEAN,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2
0,Aal,11,10,12,10,90.55,93.40,97.33,90.50,12.30,...,5.83,36.16,36.58,41.77,0.0,0.0,nature_based_non_human,3,short_word,animal
1,Aas,10,10,13,11,73.10,57.50,80.69,59.64,20.44,...,-49.37,-62.74,24.86,32.97,0.0,0.0,NaN,3,short_word,NaN
2,Abend,10,11,10,12,53.80,52.27,59.90,74.08,28.96,...,42.83,50.47,27.44,26.39,0.0,0.0,NaN,5,short_word,NaN
3,Abendbrot,9,11,13,10,64.89,62.64,84.85,82.50,18.72,...,28.79,59.00,23.44,29.92,0.0,0.0,NaN,9,long_word,NaN
4,Abfall,8,10,13,9,73.38,77.80,67.46,60.89,28.84,...,-39.78,-45.63,23.08,28.66,0.0,0.0,NaN,6,short_word,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,Zwieback,8,11,12,11,80.00,92.00,95.00,93.27,22.70,...,15.94,42.42,26.83,28.69,0.0,0.0,NaN,8,long_word,NaN
2588,Zwiebel,9,11,12,10,90.67,95.18,93.25,93.20,12.05,...,13.39,9.68,27.29,34.71,0.0,0.0,nature_based_non_human,7,long_word,plant
2589,Zwielicht,9,11,10,12,45.11,30.27,57.60,52.33,28.84,...,-29.72,-30.30,28.49,34.31,0.0,0.0,NaN,9,long_word,natural_entity
2590,Zwilling,11,10,12,11,70.45,72.70,76.08,83.73,27.48,...,28.89,35.95,29.80,35.93,0.0,0.0,nature_based_human,8,long_word,NaN
2591,Zylinder,12,9,12,11,80.75,85.44,89.92,81.91,22.49,...,23.78,10.11,34.91,24.83,0.0,0.0,NaN,8,long_word,NaN

## Initial categorisation to filter lists

In [48]:
#Define Conditions

#set threshold
lower_threshold_emo = -33
upper_threshold_emo = 33

#set threshold Ima
lower_threshold_ima = 33
upper_threshold_ima = 66

# Define emo conditions
emo_mid_condition = (Emo["EM_Y_MEAN"] < upper_threshold_emo) & (Emo["EM_O_MEAN"] < upper_threshold_emo) & (Emo["EM_Y_MEAN"] > lower_threshold_emo) & (Emo["EM_O_MEAN"] > lower_threshold_emo)

# Define ima conditions
ima_high_condition = (Emo["IM_Y_MEAN"] > upper_threshold_ima) & (Emo["IM_O_MEAN"] > upper_threshold_ima)
ima_mid_condition = (Emo["IM_Y_MEAN"] < upper_threshold_ima) & (Emo["IM_O_MEAN"] < upper_threshold_ima) & (Emo["IM_Y_MEAN"] > lower_threshold_ima) & (Emo["IM_O_MEAN"] > lower_threshold_ima)

In [49]:
#Add condition column to emo df
# Initialize new columns with default values
Emo['emo_condition'] = 'None'
Emo['ima_condition'] = 'None'

# Apply conditions and set values
Emo.loc[emo_mid_condition, 'emo_condition'] = 'emo_mid'
Emo.loc[ima_high_condition, 'ima_condition'] = 'ima_high'
Emo.loc[ima_mid_condition, 'ima_condition'] = 'ima_mid'

In [50]:
#Emo
#Test results
#Emo[['WORD', "EM_Y_MEAN", "EM_O_MEAN", "IM_Y_MEAN", "IM_O_MEAN", 'emo_condition', 'ima_condition']].head(50)

## Utils

In [51]:
def write_to_excel(file_name, df):
    output_path = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/Output"
    file_path = os.path.join(output_path, file_name)
    df.to_excel(file_path, index=False)
    return f"{file_name} writen to {file_path}"

In [52]:
# Function to generate word pairs with different first letters with checks

#TODO: Add function that uses the gen_word pair function and creates a list for all the conditions that you want to have

#condition_pairs = [("emo_mid", "ima_mid"), ("emo_mid", "ima_high")]

# Function to generate word pairs with different first letters from two different DataFrames
def generate_word_pairs(df1, list_of_condition_pairs, num_pairs_per_condition, seed=42):
    
    # Set seed for reproducibility
    random.seed(seed)
    
    #initalize lists
    word_pairs = []
    used_words = []
    
    for cond_pair in list_of_condition_pairs:
        
        #create dfs based on specified conditions
        emo_words = df1[df1['emo_condition']== cond_pair[0]][['WORD', 'emo_condition']]
        emo_words_tuples = list(zip(emo_words['WORD'], emo_words['emo_condition']))
    
        ima_words = df1[df1['ima_condition']== cond_pair[1]][['WORD', 'ima_condition']]
        ima_words_tuples = list(zip(ima_words['WORD'], ima_words['ima_condition']))
    
        pairs_counter = 0
        attempts_counter = 0
        max_attempts = (len(ima_words_tuples)+len(emo_words_tuples))/2
        
        while pairs_counter < num_pairs_per_condition and attempts_counter < max_attempts:
            attempts_counter += 1
            
            word1 = random.choice(emo_words_tuples)  # Draw randomly from emo_words
            word2 = random.choice(ima_words_tuples)  # Draw randomly from ima_words
            
            # Check if both words are not already used in any word pair
            if (word1[0] not in used_words and 
                word2[0] not in used_words and 
                word1[0][0] != word2[0][0]):
                word_pairs.append((word1, word2))
                used_words.append(word1[0])
                used_words.append(word2[0])
                pairs_counter += 1 
        
        if attempts_counter >= max_attempts:
            print(f"Warning: Maximum attempts reached for condition pair {cond_pair}. Only {pairs_counter} pairs were generated.")
    
    # Unzip the list of tuples into two separate lists
    list1, list2 = zip(*word_pairs)
    
    # Further unzip each of these lists if necessary
    word1, condition1 = zip(*list1)
    word2, condition2 = zip(*list2)

    # Create a DataFrame from these lists
    df = pd.DataFrame({
        'Word1': word1,
        'Emo_condition': condition1,
        'Word2': word2,
        'Ima_condition': condition2
    })     
        
    return df

#list_test = generate_word_pairs(Emo,condition_pairs,18)
#print(generate_word_pairs(emo_high,"WORD", ima_high, "WORD", 10))

#list_test

## Generate Nature List

## Natural Phenomenon

In [55]:
#Filter list for: natural phenomenon, short word, mid emotionality
Emo_natural_entity_short_emo_mid = Emo[(Emo['length_group'] == 'short_word') & (Emo['Kategorie2'] == 'natural_entity') & (Emo['emo_condition'] == 'emo_mid')]
Emo_natural_entity_short_emo_mid

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
172,Bauch,11,9,13,10,83.91,89.78,89.38,86.20,18.58,...,49.13,28.33,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
251,Blei,11,11,12,11,64.00,66.00,67.42,62.36,32.80,...,20.87,25.94,0.00,0.00,nature_based_non_human,4,short_word,natural_entity,emo_mid,ima_mid
267,Boden,10,11,13,10,69.30,78.27,66.08,76.70,16.36,...,18.58,16.96,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
293,Brett,11,9,11,12,85.45,92.11,97.55,81.08,12.81,...,12.56,15.73,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
393,Donner,10,10,12,11,72.00,53.20,43.50,68.73,30.68,...,49.57,33.07,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_mid
416,Dunst,10,10,13,10,56.20,57.60,66.38,71.60,26.04,...,14.07,37.72,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,None
420,Ebbe,11,10,14,10,74.91,66.00,89.64,71.80,22.25,...,28.45,21.97,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
422,Echo,12,9,13,9,48.25,34.22,36.23,49.33,35.33,...,29.05,21.40,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_mid
460,Eis,10,11,13,9,91.10,89.64,87.54,94.22,7.25,...,33.25,35.28,0.00,0.00,NaN,3,short_word,natural_entity,emo_mid,ima_high
465,Eisen,10,10,13,10,69.00,67.30,80.00,84.20,23.99,...,23.95,19.30,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
558,Fels,10,9,13,10,89.60,87.22,90.85,86.50,7.20,...,28.41,40.38,0.00,0.04,NaN,4,short_word,natural_entity,emo_mid,ima_high
570,Feuer,12,9,13,10,89.25,92.89,93.85,87.70,11.06,...,61.68,58.67,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
590,Flamme,11,10,11,12,85.91,88.80,94.00,83.83,16.33,...,48.66,54.19,0.00,0.00,nature_based_human,6,short_word,natural_entity,emo_mid,ima_high
712,Geröll,9,10,11,12,67.33,75.60,82.73,79.42,32.51,...,33.20,31.43,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
749,Gips,11,10,13,10,76.09,76.80,84.15,77.90,18.06,...,25.69,21.67,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
783,Granit,12,8,11,12,63.50,71.00,88.09,75.33,26.10,...,22.13,23.60,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
801,Grund,14,15,15,17,46.71,45.47,54.20,52.41,33.08,...,10.18,33.83,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_mid
808,Gummi,9,11,13,10,72.00,84.36,67.46,79.90,28.10,...,26.07,23.76,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
826,Hall,9,10,10,11,32.44,27.20,26.00,49.64,38.09,...,28.83,18.47,0.00,0.04,NaN,4,short_word,natural_entity,emo_mid,None
908,Holz,11,8,11,12,87.09,89.25,89.64,83.50,13.39,...,21.33,25.36,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
987,Kalk,10,11,12,10,69.80,62.73,75.08,60.80,21.36,...,25.37,22.42,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
1059,Kies,10,11,12,10,76.10,84.55,82.83,85.00,24.07,...,16.12,26.86,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
1060,Kiesel,11,8,12,11,73.91,80.25,84.25,76.64,22.39,...,21.24,29.12,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1091,Klippe,10,9,12,11,81.10,81.78,81.58,75.64,20.62,...,37.04,35.45,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1119,Kohle,10,11,14,9,81.40,87.45,94.43,82.78,18.43,...,18.20,29.96,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
1171,Kreide,11,9,13,10,81.27,81.22,90.08,77.50,23.59,...,23.21,19.63,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1205,Kupfer,9,10,12,10,57.78,70.40,70.75,79.10,38.68,...,13.12,28.34,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,None
1219,Lager,11,9,13,10,71.64,58.44,71.38,66.80,23.30,...,36.32,38.13,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,None
1252,Lehm,10,10,12,11,70.40,74.80,79.58,77.64,24.99,...,19.46,28.76,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
1329,Magnet,10,11,13,9,80.30,76.91,83.15,71.89,18.03,...,18.16,22.81,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1367,Matsch,9,12,13,9,61.67,75.25,82.23,75.11,33.11,...,27.16,34.34,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1389,Metall,11,9,12,11,58.45,77.22,70.58,76.82,32.07,...,24.87,13.50,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
1484,Nebel,10,10,11,11,84.40,90.40,80.55,82.36,11.43,...,42.16,29.83,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
1491,Neon,12,8,13,9,63.33,51.38,56.46,62.00,31.21,...,34.80,30.69,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_mid
1525,Öl,12,9,12,11,76.75,82.67,85.58,86.55,20.19,...,34.82,31.84,0.00,0.00,NaN,2,short_word,natural_entity,emo_mid,ima_high
1705,Quarz,11,9,11,11,51.45,54.56,64.09,58.36,32.37,...,24.93,22.30,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_mid
1744,Reflex,10,9,11,12,43.70,45.33,38.18,40.25,33.49,...,25.99,19.32,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_mid
1746,Regel,11,10,11,12,42.82,28.20,38.27,36.83,31.98,...,29.10,18.53,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_mid
1747,Regen,10,9,13,10,76.00,86.33,91.23,84.10,20.19,...,27.88,34.72,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
1829,Salz,11,9,11,12,83.91,83.78,90.36,87.92,14.22,...,11.66,23.84,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
2114,Stein,11,9,12,11,86.00,94.00,91.58,85.27,6.10,...,16.48,23.91,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
2140,Stoß,11,9,13,9,47.73,49.22,48.85,58.22,31.35,...,35.10,20.94,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_mid
2141,Strahl,8,11,12,11,81.50,61.91,66.83,70.64,16.21,...,23.81,26.38,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
2152,Stroh,10,10,11,12,81.70,81.30,87.82,88.08,16.69,...,16.62,30.86,0.00,0.00,NaN,5,short_word,natural_entity,emo_mid,ima_high
2179,System,9,12,13,9,31.11,18.67,38.54,37.44,27.50,...,37.95,26.66,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,None
2256,Ton,9,10,11,12,39.22,26.40,45.82,53.17,35.21,...,30.56,27.65,0.00,0.00,NaN,3,short_word,natural_entity,emo_mid,None
2287,Trog,12,7,10,13,77.67,82.14,90.50,84.15,16.94,...,19.29,17.46,0.04,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
2407,Wabe,10,10,12,11,79.60,84.30,75.17,74.91,16.67,...,17.25,23.99,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
2431,Wand,10,10,12,10,80.90,83.90,94.83,82.30,22.39,...,20.85,13.35,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
2450,Weiher,11,9,12,11,50.91,69.22,88.33,87.55,29.60,...,15.97,23.57,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,None
2457,Welt,14,15,15,17,84.57,85.20,83.27,71.12,23.24,...,37.09,32.80,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_high
2468,Wetter,12,8,12,11,54.17,57.63,70.42,71.00,30.86,...,22.83,23.06,0.00,0.00,nature_based_human,6,short_word,natural_entity,emo_mid,None
2533,Zeder,10,10,12,11,57.40,55.80,78.58,67.73,33.29,...,22.80,28.46,0.00,0.03,nature_based_non_human,5,short_word,natural_entity,emo_mid,None
2552,Ziegel,10,9,13,9,89.10,93.22,92.85,82.22,8.77,...,19.23,20.98,0.00,0.00,NaN,6,short_word,natural_entity,emo_mid,ima_high
2559,Zink,9,10,11,12,46.78,45.70,70.73,48.42,24.78,...,19.30,15.88,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,ima_mid
2560,Zinn,12,9,13,10,60.00,65.67,66.23,65.80,24.24,...,23.65,10.63,0.00,0.00,NaN,4,short_word,natural_entity,emo_mid,None

In [31]:

Emo_natural_entity_short_ima_high = Emo[(Emo['length_group'] == 'short_word') & (Emo['Kategorie2'] == 'natural_entity') & (Emo['ima_condition'] == 'ima_high')]
Emo_natural_entity_short_ima_high

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
142,Bach,10,9,12,10,85.20,80.89,90.25,87.00,14.91,...,28.32,25.64,0.00,0.0,NaN,4,short_word,natural_entity,None,ima_high
155,Bambus,11,10,11,12,86.09,86.50,84.36,84.50,13.02,...,33.37,31.76,0.00,0.0,nature_based_non_human,6,short_word,natural_entity,None,ima_high
172,Bauch,11,9,13,10,83.91,89.78,89.38,86.20,18.58,...,49.13,28.33,0.00,0.0,NaN,5,short_word,natural_entity,emo_mid,ima_high
257,Blitz,10,9,11,12,92.50,94.78,93.91,86.83,9.68,...,51.63,40.05,0.00,0.0,NaN,5,short_word,natural_entity,None,ima_high
264,Blüte,8,11,12,11,79.00,93.18,95.83,88.36,17.57,...,25.68,22.49,0.00,0.0,NaN,5,short_word,natural_entity,None,ima_high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,Wolke,12,8,13,10,91.25,97.00,95.85,85.20,10.13,...,31.85,34.39,0.00,0.0,NaN,5,short_word,natural_entity,None,ima_high
2541,Zelle,10,10,12,11,92.20,71.50,79.67,80.27,12.24,...,51.18,44.46,0.00,0.0,NaN,5,short_word,natural_entity,None,ima_high
2552,Ziegel,10,9,13,9,89.10,93.22,92.85,82.22,8.77,...,19.23,20.98,0.00,0.0,NaN,6,short_word,natural_entity,emo_mid,ima_high
2562,Zirkus,12,9,12,11,82.25,85.33,85.17,89.82,15.70,...,44.74,27.68,0.03,0.0,NaN,6,short_word,natural_entity,None,ima_high
2574,Zug,10,11,11,12,91.90,94.36,97.00,89.33,10.94,...,28.40,30.31,0.00,0.0,NaN,3,short_word,natural_entity,None,ima_high

In [33]:

Emo_natural_entity_long_emo_mid = Emo[(Emo['length_group'] == 'long_word') & (Emo['Kategorie2'] == 'natural_entity') & (Emo['emo_condition'] == 'emo_mid')]
Emo_natural_entity_long_emo_mid

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
79,Antrieb,12,8,12,11,49.67,29.50,48.67,48.45,30.09,...,24.92,27.97,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_mid
112,Aufgang,11,10,12,11,48.27,54.70,67.75,70.00,37.25,...,27.50,25.40,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,None
171,Batterie,10,9,10,13,88.10,90.00,90.70,81.15,16.33,...,26.94,20.07,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,ima_high
292,Brennholz,11,9,12,11,86.45,83.11,91.50,90.73,10.55,...,25.86,27.55,0.0,0.0,NaN,9,long_word,natural_entity,emo_mid,ima_high
359,Dämmerung,12,9,13,10,60.58,62.89,75.23,69.00,27.70,...,39.56,30.05,0.0,0.0,NaN,9,long_word,natural_entity,emo_mid,None
415,Dunkelheit,12,8,11,12,65.92,78.75,74.36,75.58,34.24,...,38.14,23.76,0.0,0.0,NaN,10,long_word,natural_entity,emo_mid,ima_high
448,Einfluss,10,9,12,11,27.70,18.89,23.50,27.18,28.91,...,33.69,30.32,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,None
472,Element,10,9,12,12,54.20,31.78,40.50,40.08,30.83,...,23.55,23.59,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_mid
695,Geklapper,10,10,12,11,43.50,40.30,62.58,36.64,35.18,...,29.09,26.13,0.0,0.0,NaN,9,long_word,natural_entity,emo_mid,ima_mid
741,Gewitter,12,8,12,10,78.17,76.75,89.50,79.90,24.06,...,38.92,32.22,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,ima_high
1174,Kreislauf,9,10,12,11,65.67,37.80,48.17,61.73,34.20,...,24.00,33.17,0.0,0.0,NaN,9,long_word,natural_entity,emo_mid,ima_mid
1870,Schatten,11,10,11,12,77.73,79.60,85.91,70.25,20.44,...,45.83,32.31,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,ima_high
1907,Schlamm,12,9,13,10,80.75,82.89,82.23,85.50,20.83,...,31.29,31.26,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_high
1910,Schleier,11,10,11,12,82.18,83.60,78.55,81.00,12.81,...,39.74,33.65,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,ima_high
1944,Schotter,12,9,11,12,74.92,70.89,78.91,78.00,25.98,...,27.66,20.56,0.0,0.0,NaN,8,long_word,natural_entity,emo_mid,ima_high
1971,Schweif,10,10,12,10,70.20,72.80,75.50,75.00,29.13,...,20.72,21.52,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_high
1981,Seegang,11,9,11,11,70.91,62.56,74.45,74.36,30.66,...,41.13,43.57,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_high
2088,Sprühregen,10,10,12,11,75.10,73.80,86.33,74.36,21.43,...,23.98,35.40,0.0,0.0,NaN,10,long_word,natural_entity,emo_mid,ima_high
2155,Strudel,9,11,13,10,72.56,76.00,79.85,78.40,12.27,...,39.97,43.60,0.0,0.0,NaN,7,long_word,natural_entity,emo_mid,ima_high
2452,Weihwasser,9,9,12,11,62.00,62.78,67.33,54.91,26.36,...,45.77,47.51,0.0,0.0,NaN,10,long_word,natural_entity,emo_mid,ima_mid
2589,Zwielicht,9,11,10,12,45.11,30.27,57.60,52.33,28.84,...,28.49,34.31,0.0,0.0,NaN,9,long_word,natural_entity,emo_mid,ima_mid

In [34]:
Emo_natural_entity_long_ima_high = Emo[(Emo['length_group'] == 'long_word') & (Emo['Kategorie2'] == 'natural_entity') & (Emo['ima_condition'] == 'ima_high')]
Emo_natural_entity_long_ima_high

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
171,Batterie,10,9,10,13,88.10,90.00,90.70,81.15,16.33,...,26.94,20.07,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
292,Brennholz,11,9,12,11,86.45,83.11,91.50,90.73,10.55,...,25.86,27.55,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,ima_high
378,Diamant,12,10,13,10,83.58,92.10,91.31,85.40,22.21,...,35.05,33.54,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
415,Dunkelheit,12,8,11,12,65.92,78.75,74.36,75.58,34.24,...,38.14,23.76,0.00,0.00,NaN,10,long_word,natural_entity,emo_mid,ima_high
427,Edelstein,9,11,11,11,75.89,73.18,91.82,82.91,25.00,...,25.91,33.56,0.00,0.00,NaN,9,long_word,natural_entity,None,ima_high
489,Erdbeben,9,9,12,11,75.89,58.11,75.42,73.73,32.35,...,31.33,39.92,0.00,0.00,NaN,8,long_word,natural_entity,None,ima_high
741,Gewitter,12,8,12,10,78.17,76.75,89.50,79.90,24.06,...,38.92,32.22,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1146,Koralle,10,10,13,10,88.50,85.20,87.54,83.80,11.58,...,35.01,28.03,0.03,0.00,nature_based_non_human,7,long_word,natural_entity,None,ima_high
1181,Kristall,9,11,10,11,73.78,72.45,77.70,81.45,23.30,...,32.63,24.90,0.00,0.04,NaN,8,long_word,natural_entity,None,ima_high
1501,Nordsee,11,11,13,10,82.73,69.91,88.92,88.70,24.98,...,31.80,29.54,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
1870,Schatten,11,10,11,12,77.73,79.60,85.91,70.25,20.44,...,45.83,32.31,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1907,Schlamm,12,9,13,10,80.75,82.89,82.23,85.50,20.83,...,31.29,31.26,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
1910,Schleier,11,10,11,12,82.18,83.60,78.55,81.00,12.81,...,39.74,33.65,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1941,Scholle,10,9,14,9,73.00,69.33,92.00,78.33,26.34,...,19.50,39.21,0.00,0.00,nature_based_non_human,7,long_word,natural_entity,None,ima_high
1944,Schotter,12,9,11,12,74.92,70.89,78.91,78.00,25.98,...,27.66,20.56,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1971,Schweif,10,10,12,10,70.20,72.80,75.50,75.00,29.13,...,20.72,21.52,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
1981,Seegang,11,9,11,11,70.91,62.56,74.45,74.36,30.66,...,41.13,43.57,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
2088,Sprühregen,10,10,12,11,75.10,73.80,86.33,74.36,21.43,...,23.98,35.40,0.00,0.00,NaN,10,long_word,natural_entity,emo_mid,ima_high
2155,Strudel,9,11,13,10,72.56,76.00,79.85,78.40,12.27,...,39.97,43.60,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
2234,Theater,11,10,11,12,75.27,70.10,92.73,83.33,23.62,...,36.16,28.40,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
2337,Unwetter,11,10,12,11,74.64,68.60,88.67,74.00,26.50,...,50.07,28.64,0.00,0.00,NaN,8,long_word,natural_entity,None,ima_high

In [35]:
Emo[(Emo['length_group'] == 'long_word') & (Emo['Kategorie2'] == 'natural_entity')]

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
79,Antrieb,12,8,12,11,49.67,29.50,48.67,48.45,30.09,...,24.92,27.97,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_mid
112,Aufgang,11,10,12,11,48.27,54.70,67.75,70.00,37.25,...,27.50,25.40,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,None
171,Batterie,10,9,10,13,88.10,90.00,90.70,81.15,16.33,...,26.94,20.07,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
226,Bewegung,10,9,10,13,53.40,41.11,46.10,76.08,33.73,...,31.41,30.50,0.00,0.00,NaN,8,long_word,natural_entity,None,ima_mid
292,Brennholz,11,9,12,11,86.45,83.11,91.50,90.73,10.55,...,25.86,27.55,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,ima_high
359,Dämmerung,12,9,13,10,60.58,62.89,75.23,69.00,27.70,...,39.56,30.05,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,None
378,Diamant,12,10,13,10,83.58,92.10,91.31,85.40,22.21,...,35.05,33.54,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
415,Dunkelheit,12,8,11,12,65.92,78.75,74.36,75.58,34.24,...,38.14,23.76,0.00,0.00,NaN,10,long_word,natural_entity,emo_mid,ima_high
427,Edelstein,9,11,11,11,75.89,73.18,91.82,82.91,25.00,...,25.91,33.56,0.00,0.00,NaN,9,long_word,natural_entity,None,ima_high
448,Einfluss,10,9,12,11,27.70,18.89,23.50,27.18,28.91,...,33.69,30.32,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,None
472,Element,10,9,12,12,54.20,31.78,40.50,40.08,30.83,...,23.55,23.59,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_mid
489,Erdbeben,9,9,12,11,75.89,58.11,75.42,73.73,32.35,...,31.33,39.92,0.00,0.00,NaN,8,long_word,natural_entity,None,ima_high
695,Geklapper,10,10,12,11,43.50,40.30,62.58,36.64,35.18,...,29.09,26.13,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,ima_mid
741,Gewitter,12,8,12,10,78.17,76.75,89.50,79.90,24.06,...,38.92,32.22,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1146,Koralle,10,10,13,10,88.50,85.20,87.54,83.80,11.58,...,35.01,28.03,0.03,0.00,nature_based_non_human,7,long_word,natural_entity,None,ima_high
1174,Kreislauf,9,10,12,11,65.67,37.80,48.17,61.73,34.20,...,24.00,33.17,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,ima_mid
1181,Kristall,9,11,10,11,73.78,72.45,77.70,81.45,23.30,...,32.63,24.90,0.00,0.04,NaN,8,long_word,natural_entity,None,ima_high
1501,Nordsee,11,11,13,10,82.73,69.91,88.92,88.70,24.98,...,31.80,29.54,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
1850,Sauerstoff,9,11,12,10,48.33,34.00,42.33,57.00,36.02,...,33.39,30.86,0.00,0.00,NaN,10,long_word,natural_entity,None,ima_mid
1870,Schatten,11,10,11,12,77.73,79.60,85.91,70.25,20.44,...,45.83,32.31,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1907,Schlamm,12,9,13,10,80.75,82.89,82.23,85.50,20.83,...,31.29,31.26,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
1910,Schleier,11,10,11,12,82.18,83.60,78.55,81.00,12.81,...,39.74,33.65,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1941,Scholle,10,9,14,9,73.00,69.33,92.00,78.33,26.34,...,19.50,39.21,0.00,0.00,nature_based_non_human,7,long_word,natural_entity,None,ima_high
1944,Schotter,12,9,11,12,74.92,70.89,78.91,78.00,25.98,...,27.66,20.56,0.00,0.00,NaN,8,long_word,natural_entity,emo_mid,ima_high
1971,Schweif,10,10,12,10,70.20,72.80,75.50,75.00,29.13,...,20.72,21.52,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
1981,Seegang,11,9,11,11,70.91,62.56,74.45,74.36,30.66,...,41.13,43.57,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
2088,Sprühregen,10,10,12,11,75.10,73.80,86.33,74.36,21.43,...,23.98,35.40,0.00,0.00,NaN,10,long_word,natural_entity,emo_mid,ima_high
2155,Strudel,9,11,13,10,72.56,76.00,79.85,78.40,12.27,...,39.97,43.60,0.00,0.00,NaN,7,long_word,natural_entity,emo_mid,ima_high
2234,Theater,11,10,11,12,75.27,70.10,92.73,83.33,23.62,...,36.16,28.40,0.00,0.00,NaN,7,long_word,natural_entity,None,ima_high
2337,Unwetter,11,10,12,11,74.64,68.60,88.67,74.00,26.50,...,50.07,28.64,0.00,0.00,NaN,8,long_word,natural_entity,None,ima_high
2357,Verderb,10,9,10,13,21.00,21.44,31.00,45.08,17.17,...,20.95,27.85,0.00,0.00,NaN,7,long_word,natural_entity,None,None
2452,Weihwasser,9,9,12,11,62.00,62.78,67.33,54.91,26.36,...,45.77,47.51,0.00,0.00,NaN,10,long_word,natural_entity,emo_mid,ima_mid
2483,Windhauch,11,9,10,13,48.27,51.11,48.60,61.54,33.41,...,25.80,27.14,0.00,0.00,NaN,9,long_word,natural_entity,None,ima_mid
2589,Zwielicht,9,11,10,12,45.11,30.27,57.60,52.33,28.84,...,28.49,34.31,0.00,0.00,NaN,9,long_word,natural_entity,emo_mid,ima_mid

In [14]:
#Set Condition Pair to be generated
condition_pairs = [("emo_mid", "ima_high")]
#Generate wordpairs for short words plant + plant
cond_short_nature_natural_entity= generate_word_pairs(Emo_natural_entity_short,condition_pairs,5, -12)
cond_short_nature_natural_entity

        Word1 Emo_condition     Word2 Ima_condition
0     Schweif       emo_mid  Kristall      ima_high
1   Dämmerung       emo_mid  Schleier      ima_high
2     Antrieb       emo_mid   Schlamm      ima_high
3   Zwielicht       emo_mid  Schotter      ima_high
4  Weihwasser       emo_mid   Koralle      ima_high

In [129]:
# Filter list to get only nature Words
Emo_words_nature = Emo[Emo['Kategorie'] == 'nature_based_non_human']
Emo_short_words_nature = Emo[(Emo['length_group'] == 'short_word') & (Emo['Kategorie'] == 'nature_based_non_human')]
Emo_long_words_nature = Emo[(Emo['length_group'] == 'long_word') & (Emo['Kategorie'] == 'nature_based_non_human')]

In [131]:
Emo_short_words_nature

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
0,Aal,11,10,12,10,90.55,93.40,97.33,90.50,12.30,...,36.58,41.77,0.00,0.00,nature_based_non_human,3,short_word,animal,None,ima_high
20,Adler,10,9,11,12,87.90,90.33,94.73,87.75,11.50,...,30.36,34.99,0.00,0.00,nature_based_non_human,5,short_word,animal,None,ima_high
22,Affe,10,10,14,8,93.80,94.20,94.64,92.38,6.99,...,35.05,30.47,0.00,0.00,nature_based_non_human,4,short_word,animal,emo_mid,ima_high
26,Ahorn,12,8,13,10,85.67,70.38,88.85,78.50,12.18,...,31.95,26.68,0.00,0.00,nature_based_non_human,5,short_word,plant,None,ima_high
34,Alge,8,11,13,10,67.00,75.55,76.23,84.70,19.86,...,24.93,36.10,0.00,0.00,nature_based_non_human,4,short_word,plant,emo_mid,ima_high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531,Zebra,10,11,11,12,88.60,96.45,94.18,91.42,17.15,...,25.53,25.56,0.00,0.00,nature_based_non_human,5,short_word,animal,None,ima_high
2532,Zecke,10,10,12,11,93.30,80.10,72.00,87.18,7.33,...,31.26,46.86,0.00,0.00,nature_based_non_human,5,short_word,animal,None,ima_high
2533,Zeder,10,10,12,11,57.40,55.80,78.58,67.73,33.29,...,22.80,28.46,0.00,0.03,nature_based_non_human,5,short_word,natural_entity,emo_mid,None
2551,Ziege,13,8,11,12,91.85,91.88,96.82,90.00,9.93,...,23.75,34.36,0.00,0.00,nature_based_non_human,5,short_word,animal,emo_mid,ima_high
2565,Zobel,8,7,14,9,55.13,63.29,81.14,76.67,32.25,...,21.90,34.99,0.24,0.03,nature_based_non_human,5,short_word,animal,None,None

In [132]:
#filter for short plant words
Emo_cat_short_plants = Emo_short_words_nature[(Emo_short_words_nature["Kategorie2"] == "plant")]
#filter for short non plant words i.e. animals 
Emo_cat_short_animals = Emo_short_words_nature[(Emo_short_words_nature["Kategorie2"].isna())]

#filter for long plant words 
Emo_cat_long_plants = Emo_long_words_nature[(Emo_long_words_nature["Kategorie2"] == "plant")]
#filter for short non plant words i.e. animals 
Emo_cat_long_animals = Emo_long_words_nature[(Emo_long_words_nature["Kategorie2"].isna())]

## Short Words Nature

In [119]:
#Set Condition Pair to be generated
condition_pairs = [("emo_mid", "ima_high")]
#Generate wordpairs for short words plant + plant
cond_short_nature_plant_plant = generate_word_pairs(Emo_cat_short_plants,condition_pairs,5, -12)
cond_short_nature_plant_plant

    Word1 Emo_condition   Word2 Ima_condition
0  Kümmel       emo_mid    Gras      ima_high
1   Raute       emo_mid   Lilie      ima_high
2   Erbse       emo_mid    Klee      ima_high
3    Alge       emo_mid  Kiefer      ima_high
4  Quitte       emo_mid    Senf      ima_high

In [81]:
#Generate wordpairs for short words animal + animal
cond_short_nature_plant_animal = generate_word_pairs(Emo_cat_short_animals,condition_pairs,5, -21)
cond_short_nature_plant_animal

    Word1 Emo_condition   Word2 Ima_condition
0   Fuchs       emo_mid   Raupe      ima_high
1  Spinne       emo_mid     Kuh      ima_high
2    Vieh       emo_mid  Hummer      ima_high
3  Tölpel       emo_mid   Vogel      ima_high
4   Geier       emo_mid   Tiger      ima_high

In [82]:
#Handpick to mix words form both categories --> animal + plant and plant + animal
pick_plant = generate_word_pairs(Emo_cat_short_plants,condition_pairs,10, 66)
pick_plant

    Word1 Emo_condition   Word2 Ima_condition
0   Busch       emo_mid   Hafer      ima_high
1   Kraut       emo_mid   Weide      ima_high
2  Kresse       emo_mid   Gurke      ima_high
3    Hanf       emo_mid  Wurzel      ima_high
4   Linse       emo_mid   Birke      ima_high
5  Schilf       emo_mid   Tabak      ima_high
6   Erbse       emo_mid   Tulpe      ima_high
7  Spinat       emo_mid   Raute      ima_high
8  Klette       emo_mid    Reis      ima_high
9   Garbe       emo_mid    Korn      ima_high

In [120]:
#Handpick to mix words form both categories --> animal + plant and plant + animal
pick_animal = generate_word_pairs(Emo_cat_short_animals,condition_pairs,10, 80)
pick_animal

    Word1 Emo_condition   Word2 Ima_condition
0  Krabbe       emo_mid   Pudel      ima_high
1  Spinne       emo_mid   Ochse      ima_high
2  Person       emo_mid    Wirt      ima_high
3  Reptil       emo_mid   Otter      ima_high
4  Auster       emo_mid   Zecke      ima_high
5    Rabe       emo_mid    Hund      ima_high
6    Blei       emo_mid    Pony      ima_high
7  Hummer       emo_mid   Gemse      ima_high
8   Ziege       emo_mid  Ameise      ima_high
9  Ferkel       emo_mid  Sirene      ima_high

## Long words Nature

In [87]:
#Generate wordpairs for long words plant + plant
cond_long_nature_plant_plant = generate_word_pairs(Emo_cat_long_plants,condition_pairs,5, -15)
cond_long_nature_plant_plant

       Word1 Emo_condition       Word2 Ima_condition
0  Knoblauch       emo_mid   Apfelbaum      ima_high
1    Strauch       emo_mid  Blumenkohl      ima_high
2   Getreide       emo_mid   Brombeere      ima_high
3    Zwiebel       emo_mid     Karotte      ima_high
4    Lorbeer       emo_mid     Spargel      ima_high

In [97]:
#Generate wordpairs for long words animal + animal
cond_long_nature_animal_animal = generate_word_pairs(Emo_cat_long_animals,condition_pairs,5, 68
                                                    )
cond_long_nature_animal_animal

      Word1 Emo_condition     Word2 Ima_condition
0   Seeigel       emo_mid  Tarantel      ima_high
1  Faultier       emo_mid   Makrele      ima_high
2   Leopard       emo_mid  Seestern      ima_high
3  Jagdhund       emo_mid   Pflanze      ima_high
4  Maulwurf       emo_mid  Waschbär      ima_high

In [139]:
#Handpick to mix words form both categories --> animal + plant and plant + animal
pick_plant_long = generate_word_pairs(Emo_cat_long_plants,condition_pairs,6, 0)
pick_plant_long

      Word1 Emo_condition       Word2 Ima_condition
0   Zwiebel       emo_mid   Rosenkohl      ima_high
1  Getreide       emo_mid   Löwenzahn      ima_high
2   Strauch       emo_mid    Veilchen      ima_high
3   Papyrus       emo_mid  Radieschen      ima_high
4   Lorbeer       emo_mid     Kamille      ima_high
5   Unkraut       emo_mid    Edelweiß      ima_high

In [101]:
#Handpick to mix words form both categories --> animal + plant and plant + animal
pick_animal = generate_word_pairs(Emo_cat_long_animals,condition_pairs,5, 2)
pick_animal

NameError: name 'Emo_cat_long_animals' is not defined

In [102]:
cond_new = [("emo_mid", "ima_high")]
generate_word_pairs(Emo_long_words_nature,cond_new,1, 70)
#nature_words_new = pd.concat([cond_short_nature, cond_new, nature_dummy], ignore_index=True)
#nature_words_new

NameError: name 'Emo_long_words_nature' is not defined

## Primacy / Recency Nature

In [144]:
#Condition pair none so it's not a word within the emo/ ima categories
condition_pairs_primacy_recency = [("None", "None")]

#create dummy words and split in 2 dataframes
dummy_words = generate_word_pairs(Emo_words_nature, condition_pairs_primacy_recency, 6, 4)
dummy_words
#primacy_words = dummy_words.iloc[:3]
#recency_words = dummy_words.iloc[3:]

      Word1 Emo_condition     Word2 Ima_condition
0  Haustier          None  Kardinal          None
1   Drossel          None   Papyrus          None
2    Natter          None     Garbe          None
3     Zebra          None    Dahlie          None
4      Hahn          None   Vanille          None
5     Pinie          None     Kraut          None

In [104]:

#Concat all individual dfs
nature_words = pd.concat([primacy_words,cond_short_nature, cond_long_nature, recency_words], ignore_index=True)
nature_words

NameError: name 'primacy_words' is not defined

In [105]:
nature_words["WORD_length1"] = nature_words["Word1"].apply(len)
nature_words["WORD_length2"] = nature_words["Word2"].apply(len)

mean_length = Emo["WORD_length"].mean()

def length_categorization(word):
    if len(word) < mean_length:
        return "short_word"
    elif len(word) > mean_length:
        return "long_word"
    
nature_words["length_group_emo"] = nature_words["Word1"].apply(length_categorization)
nature_words["length_group_ima"] = nature_words["Word2"].apply(length_categorization)


#Reorganize columns
cols = nature_words.columns.tolist()
cols = ['Word1', 'WORD_length1', 'Emo_condition','length_group_emo','Word2',"WORD_length2",'Ima_condition', "length_group_ima"]


nature_words= nature_words[cols]

#final result
nature_words

NameError: name 'nature_words' is not defined

In [106]:
write_to_excel('nature_words_new.xlsx',nature_words_new)

NameError: name 'nature_words_new' is not defined

## Generate list for non-nature words

In [107]:
Emo.head()

,WORD,IM_Y_M_N,IM_Y_F_N,IM_O_M_N,IM_O_F_N,IM_Y_M_MEAN,IM_Y_F_MEAN,IM_O_M_MEAN,IM_O_F_MEAN,IM_Y_M_SD,...,EM_Y_SD,EM_O_SD,F_Unknown_Y,F_Unknown_O,Kategorie,WORD_length,length_group,Kategorie2,emo_condition,ima_condition
0,Aal,11,10,12,10,90.55,93.40,97.33,90.50,12.30,...,36.58,41.77,0.0,0.0,nature_based_non_human,3,short_word,animal,None,ima_high
1,Aas,10,10,13,11,73.10,57.50,80.69,59.64,20.44,...,24.86,32.97,0.0,0.0,NaN,3,short_word,NaN,None,None
2,Abend,10,11,10,12,53.80,52.27,59.90,74.08,28.96,...,27.44,26.39,0.0,0.0,NaN,5,short_word,NaN,None,None
3,Abendbrot,9,11,13,10,64.89,62.64,84.85,82.50,18.72,...,23.44,29.92,0.0,0.0,NaN,9,long_word,NaN,None,None
4,Abfall,8,10,13,9,73.38,77.80,67.46,60.89,28.84,...,23.08,28.66,0.0,0.0,NaN,6,short_word,NaN,None,None

In [108]:
# Filter list to get only nature Words
Emo_words_non_nature = Emo[Emo['Kategorie'].isna()]
Emo_short_words_non_nature = Emo_words_non_nature[(Emo_words_non_nature['length_group'] == 'short_word')]
Emo_long_words_non_nature = Emo_words_non_nature[(Emo_words_non_nature['length_group'] == 'long_word')]

In [109]:
#Generate non-nature words for recency
cond_non_nature_recency = generate_word_pairs(Emo_words_non_nature, condition_pairs_primacy_recency, 3, -14)

cond_non_nature_recency

       Word1 Emo_condition     Word2 Ima_condition
0     Bunker          None   Zuwachs          None
1    Gesicht          None     Makel          None
2  Weihnacht          None  Leistung          None

In [110]:
cond_non_new = [("emo_mid", "ima_high")]
non_nature_short = generate_word_pairs(Emo_short_words_non_nature,cond_non_new,3, -7000)
non_nature_short["WORD_length1"] = non_nature_short["Word1"].apply(len)
non_nature_short["WORD_length2"] = non_nature_short["Word2"].apply(len)

non_nature_short

   Word1 Emo_condition   Word2 Ima_condition  WORD_length1  WORD_length2
0  Lokal       emo_mid   Beton      ima_high             5             5
1   Mast       emo_mid   Stall      ima_high             4             5
2  Kabel       emo_mid  Murmel      ima_high             5             6

In [111]:
cond_non_new = [("emo_mid", "ima_high")]
non_nature_long = generate_word_pairs(Emo_long_words_non_nature,cond_non_new,10, -7000)
non_nature_long["WORD_length1"] = non_nature_long["Word1"].apply(len)
non_nature_long["WORD_length2"] = non_nature_long["Word2"].apply(len)
non_nature_long

,Word1,Emo_condition,Word2,Ima_condition,WORD_length1,WORD_length2
0,Heldenmut,emo_mid,Bauernhof,ima_high,9,9
1,Institut,emo_mid,Schinken,ima_high,8,8
2,Ergebnis,emo_mid,Mikrofon,ima_high,8,8
3,Pfeffer,emo_mid,Biskuit,ima_high,7,7
4,Toilette,emo_mid,Schachtel,ima_high,8,9
5,Billard,emo_mid,Vitrine,ima_high,7,7
6,Purzelbaum,emo_mid,Karussell,ima_high,10,9
7,Maschine,emo_mid,Backofen,ima_high,8,8
8,Ausgang,emo_mid,Brosche,ima_high,7,7
9,Einzelheit,emo_mid,Lexikon,ima_high,10,7

In [112]:
condition_pairs_primacy_recency = [("emo_mid", "ima_high")]
non_nature_new = generate_word_pairs(Emo,condition_pairs_primacy_recency,2, -14)
non_nature_new

      Word1 Emo_condition      Word2 Ima_condition
0      Dose       emo_mid      Seide      ima_high
1  Zickzack       emo_mid  Windmühle      ima_high

In [113]:

#Set Condition Pair to be generated
condition_pairs = [("emo_mid", "ima_high")]

#Generate wordpairs for short words and for long words
cond_short_non_nature = generate_word_pairs(Emo_short_words_non_nature, condition_pairs, 18)
cond_long_non_nature = generate_word_pairs(Emo_long_words_non_nature, condition_pairs, 18)

#Concat all individual dfs (use same primacy/ recency words as in nature word list)
non_nature_words = pd.concat([primacy_words, cond_short_non_nature, cond_long_non_nature, recency_words], ignore_index=True)

non_nature_words["WORD_length1"] = non_nature_words["Word1"].apply(len)
non_nature_words["WORD_length2"] = non_nature_words["Word2"].apply(len)

mean_length = Emo["WORD_length"].mean()

#apply length categorization
non_nature_words["length_group_emo"] = non_nature_words["Word1"].apply(length_categorization)
non_nature_words["length_group_ima"] = non_nature_words["Word2"].apply(length_categorization)

#Reorganize columns
cols = non_nature_words.columns.tolist()
cols = ['Word1', 'WORD_length1', 'Emo_condition', 'length_group_emo', 'Word2', "WORD_length2", 'Ima_condition',
        "length_group_ima"]

non_nature_words = non_nature_words[cols]

#final result
non_nature_words

NameError: name 'primacy_words' is not defined

In [114]:
write_to_excel('non_nature_words.xlsx',non_nature_words)

NameError: name 'non_nature_words' is not defined

In [115]:
def write_to_excel(file_name, df):
    output_path = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/Output"
    file_path = os.path.join(output_path, file_name)
    df.to_excel(file_path, index=False)
    return f"{file_name} writen to {file_path}"

## Split lists equally with short and long words alike

In [116]:
    output_path = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/lists"
    file_path = os.path.join(output_path, "non_nature_words_final.xlsx")
    non_nature_words_final.to_excel(file_path, index=False)

NameError: name 'non_nature_words_final' is not defined

In [117]:
# Shuffle the DataFrame rows
non_nature_words_final = non_nature_words_final.sample(frac=1).reset_index(drop=True)

NameError: name 'non_nature_words_final' is not defined

## Some checks to test if there are errors in the list

In [143]:
path0 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/lists/nature/new_nature_words_final.xlsx"
nature_final = pd.read_excel(path0, sheet_name="Sheet1")
nature_final

,Word1,Category Word1,WORD_length1,Emo_condition,length_group_emo,Word2,Category Word2,WORD_length2,Ima_condition,length_group_ima,Randomize,Combination
0,Biene,NaN,5,none,short_word,Dorsch,NaN,6,none,short_word,False,Primacy
1,Buche,NaN,5,none,short_word,Zobel,NaN,5,none,short_word,False,Primacy
2,Flieder,NaN,7,none,short_word,Kardinal,NaN,8,none,short_word,False,Primacy
3,Donner,other,6,emo_mid,short_word,Moos,plant,4,ima_high,short_word,True,Other / Plant
4,Ebbe,other,4,emo_mid,short_word,Lilie,plant,5,ima_high,short_word,True,Other / Plant
5,Dunst,other,5,emo_mid,short_word,Farn,plant,4,ima_high,short_word,True,Other / Plant
6,Feuer,other,5,emo_mid,short_word,Roggen,plant,6,ima_high,short_word,True,Other / Plant
7,Flamme,other,6,emo_mid,short_word,Bambus,plant,6,ima_high,short_word,True,Other / Plant
8,Fuchs,animal,5,emo_mid,short_word,Blitz,other,5,ima_high,short_word,True,Animal / Other
9,Spinne,animal,6,emo_mid,short_word,Bach,other,4,ima_high,short_word,True,Animal / Other
10,Vieh,animal,4,emo_mid,short_word,Fels,other,4,ima_high,short_word,True,Animal / Other
11,Elster,animal,6,emo_mid,short_word,Flut,other,4,ima_high,short_word,True,Animal / Other
12,Geier,animal,5,emo_mid,short_word,Hagel,other,5,ima_high,short_word,True,Animal / Other
13,Busch,plant,5,emo_mid,short_word,Wespe,animal,5,ima_high,short_word,True,Plant / Animal
14,Kraut,plant,5,emo_mid,short_word,Bulle,animal,5,ima_high,short_word,True,Plant / Animal
15,Kresse,plant,6,emo_mid,short_word,Otter,animal,5,ima_high,short_word,True,Plant / Animal
16,Hanf,plant,4,emo_mid,short_word,Spatz,animal,5,ima_high,short_word,True,Plant / Animal
17,Linse,plant,5,emo_mid,short_word,Auster,animal,6,ima_high,short_word,True,Plant / Animal
18,Geröll,other,6,emo_mid,short_word,Meer,other,4,ima_high,short_word,True,other/ other
19,Granit,other,6,emo_mid,short_word,Perle,other,5,ima_high,short_word,True,other/ other
20,Stroh,other,5,emo_mid,short_word,Schnee,other,6,ima_high,short_word,True,other/ other
21,Regen,other,5,emo_mid,short_word,Sonne,other,5,ima_high,short_word,True,other/ other
22,Nebel,other,5,emo_mid,short_word,Wolke,other,5,ima_high,short_word,True,other/ other
23,Element,other,7,emo_mid,long_word,Apfelbaum,plant,9,ima_high,long_word,True,Other / Plant
24,Dämmerung,other,9,emo_mid,long_word,Blumenkohl,plant,10,ima_high,long_word,True,Other / Plant
25,Dunkelheit,other,10,emo_mid,long_word,Radieschen,plant,10,ima_high,long_word,True,Other / Plant
26,Gewitter,other,8,emo_mid,long_word,Karotte,plant,7,ima_high,long_word,True,Other / Plant
27,Schatten,other,8,emo_mid,long_word,Spargel,plant,7,ima_high,long_word,True,Other / Plant
28,Eidechse,animal,8,emo_mid,long_word,Diamant,other,7,ima_high,long_word,True,Animal / Other
29,Leopard,animal,7,emo_mid,long_word,Edelstein,other,9,ima_high,long_word,True,Animal / Other
30,Maulwurf,animal,8,emo_mid,long_word,Erdbeben,other,8,ima_high,long_word,True,Animal / Other
31,Seeigel,animal,7,emo_mid,long_word,Koralle,other,7,ima_high,long_word,True,Animal / Other
32,Ziegenbock,animal,10,emo_mid,long_word,Kristall,other,8,ima_high,long_word,True,Animal / Other
33,Zwiebel,plant,7,emo_mid,long_word,Tarantel,animal,8,ima_high,long_word,True,Plant / Animal
34,Papyrus,plant,7,emo_mid,long_word,Hamster,animal,7,ima_high,long_word,True,Plant / Animal
35,Getreide,plant,8,emo_mid,long_word,Seehund,animal,7,ima_high,long_word,True,Plant / Animal
36,Lorbeer,plant,7,emo_mid,long_word,Gazelle,animal,7,ima_high,long_word,True,Plant / Animal
37,Strauch,plant,7,emo_mid,long_word,Languste,animal,8,ima_high,long_word,True,Plant / Animal
38,Schlamm,other,7,emo_mid,long_word,Nordsee,other,7,ima_high,long_word,True,Other / Other
39,Schotter,other,8,emo_mid,long_word,Schleier,other,8,ima_high,long_word,True,Other / Other
40,Sprühregen,other,10,emo_mid,long_word,Brennholz,other,9,ima_high,long_word,True,Other / Other
41,Zwielicht,other,9,emo_mid,long_word,Seegang,other,7,ima_high,long_word,True,Other / Other
42,Strudel,other,7,emo_mid,long_word,Schweif,other,7,ima_high,long_word,True,Other / Other
43,Hornisse,NaN,8,none,long_word,Pudel,NaN,5,none,long_word,False,Recency
44,Bär,NaN,3,none,long_word,Wanze,NaN,5,none,long_word,False,Recency
45,Pinie,NaN,5,none,long_word,Sardine,NaN,7,none,long_word,False,Recency

In [141]:
#Check to see if a word from Emo Word list is also in Ima Word list
nature_final["Word1"].isin(nature_final["Word2"])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
Name: Word1, dtype: bool

In [142]:
#check if a word appears more then once

# Count the occurrences of each word in the 'words' column
word_counts_emo = nature_final['Word1'].value_counts()
word_counts_ima = nature_final['Word2'].value_counts()

# Filter words that appear more than once
repeated_words_emo = word_counts_emo[word_counts_emo > 1]
repeated_words_ima = word_counts_ima[word_counts_ima > 1]

print("Words that appear more than once:")
print(repeated_words_emo)

print("Words that appear more than once:")
print(repeated_words_ima)

Words that appear more than once:
Series([], Name: count, dtype: int64)
Words that appear more than once:
Series([], Name: count, dtype: int64)

## Check if words have been categorized correctly into emo and ima conditions

In [145]:
path3 = "/Users/Richard/PycharmProjects/NeuroLab_3.10/PsychoPy/lists/nature/new_nature_words_final_test_file.xlsx"
nature_test_file = pd.read_excel(path3, sheet_name="Sheet1")
nature_test_file

      Word1 Category Word1  WORD_length1 Emo_condition length_group_emo
0     Biene            NaN             5          none       short_word
1     Buche            NaN             5          none       short_word
2   Flieder            NaN             7          none       short_word
3    Donner          other             6       emo_mid       short_word
4      Ebbe          other             4       emo_mid       short_word
..      ...            ...           ...           ...              ...
87  Seegang          other             7      ima_high        long_word
88  Schweif          other             7      ima_high        long_word
89    Pudel            NaN             5          none        long_word
90    Wanze            NaN             5          none        long_word
91  Sardine            NaN             7          none        long_word

[92 rows x 5 columns]

### Check if emo_mid words have been categorized correctly

In [146]:
#Define Conditions
#set threshold Emo
lower_threshold_emo = -33
upper_threshold_emo = 33

merged_df = pd.merge(nature_test_file, Emo, left_on='Word1', right_on='WORD', how='left')  
merged_df_emo_mid = merged_df[merged_df["Emo_condition"] == "emo_mid"]


emo_mid_condition = (merged_df_emo_mid["EM_Y_MEAN"] < upper_threshold_emo) & (merged_df_emo_mid["EM_O_MEAN"] < upper_threshold_emo) & (merged_df_emo_mid["EM_Y_MEAN"] > lower_threshold_emo) & (merged_df_emo_mid["EM_O_MEAN"] > lower_threshold_emo)

print(len(merged_df_emo_mid))
len(merged_df_emo_mid[emo_mid_condition]) #should give entire set

#merged_df[(merged_df['IM_Y_MEAN'] < lower_threshold_emo)]
#merged_df[(merged_df['IM_Y_MEAN'] < upper_threshold_ima)]

40

40

In [147]:
merged_df_emo_mid['Word1'].isin(merged_df_emo_mid[emo_mid_condition]['Word1'])

3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
Name: Word1, dtype: bool

### Check if ima_high words have been categorized correctly

In [162]:
#set threshold Ima
lower_threshold_ima = 33
upper_threshold_ima = 66

#Filter for only ima_high words
merged_df_ima_high = merged_df[merged_df['Emo_condition'] == 'ima_high']

# Define ima conditions
ima_high_condition = (merged_df_ima_high["IM_Y_MEAN"] > upper_threshold_ima) & (merged_df_ima_high["IM_O_MEAN"] > upper_threshold_ima)

#Check values manually
merged_df_ima_high[ima_high_condition][['Word1', 'IM_Y_MEAN', 'IM_O_MEAN']] 

print("These 2 numbers need to be the same:")
print(len(merged_df_ima_high))
print(len(merged_df_ima_high[ima_high_condition]))

These 2 numbers need to be the same:
40
40