In [3]:
import pandas as pd 

file_path = "/Users/Richard/PsychoPy_1/data/TEST_correct_SNORE recall_2024-06-03_22h38.00.934.csv"

data = pd.read_csv(file_path)

data[["Word1", "Word2", "Response.text"]].head(50)

      Word1     Word2 Response.text
0       NaN       NaN           NaN
1  Landhaus  Prädikat       \nPlatz
2  Training      Höhe     \nSession
3     Deich     Kosak        \nDamm